.navbar-nav li a {
  text-shadow: #a9b1c1 1px 1px 1px;
}
.sr-bg {
  background-size: cover;
  overflow: hidden;
}
.sr-bg-1 {
  background: url("../img/1711687.jpg") no-repeat;
  height: 400px;
}
.sr-bg-3 {
  background: url("../img/bugatti_veyron_ettore_bugatti_posebna_serija_2015_car-1920x1080.jpg") no-repeat;
  height: 500px;
}
.progress_indicator {
  height: 10px;
  position: fixed;
  z-index: 98;
  bottom: 0;
  width: 100%;
}
.slogan {
  text-align: center;
  font-weight: 700;
}
.options {
  padding: 100px 0;
  display: inline-block;
}
.options .col-md-4 {
  text-align: center;
}
.options .glyphicon {
  font-size: 40px;
}
.test_horizontal {
  background: url("../img/bugatti_veyron_ettore_bugatti_posebna_serija_2015_car-1920x1080.jpg") no-repeat;
  height: 500px;
  width: 3000px;
  top: 0;
  left: 0;
  position: absolute;
}
.test_horizontal_wrp {
  position: relative;
  height: 500px;
  overflow: hidden;
}
.movement_test {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
  top: 80px;
  border: 3px solid #850c83;
}
.movement_test_txt {
  font-size: 25px;
  float: right;
  width: 800px;
}
.icon-move {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  border: 1px solid #ffffff;
  display: inline-block;
  background: #e9e863;
  position: absolute;
  top: -10px;
  right: 0px;
}
.horizontal_txt {
  height: 325px;
  overflow: hidden;
  position: relative;
}
.horizontal_txt p {
  font-size: 24px;
  color: #2e51ff;
  position: absolute;
  width: 3000px;
  height: 325px;
  top: 0;
  left: 0;
  background: url("../img/bin.png") no-repeat;
}
.svg {
  position: absolute;
  top: 0px;
  margin-left: -270px;
  left: 50%;
}
.svg_wrp {
  position: relative;
  width: 100%;
  height: 3000px;
  overflow: hidden;
}
.img_test_wrp {
  height: 3000px;
  overflow: hidden;
}
.img_test_wrp .container {
  position: relative;
}
.img_test_wrp ul {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 50px;
}
.img_test_wrp ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0;
}
.img_test_wrp ul li p {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  line-height: 500px;
  text-align: center;
  text-shadow: #2e3135 1px 1px 1px;
}
.img_test_wrp ul li.one {
  background-image: url("../img/for_change/1125.jpg");
}
.img_test_wrp ul li.two {
  background-image: url("../img/for_change/Apple-Black-Wide-Wallpapers-For-Iphone.jpg");
}
.img_test_wrp ul li.three {
  background-image: url("../img/for_change/Black-White-Eagle-1366x768.jpg");
}
.img_test_wrp ul li.four {
  background-image: url("../img/for_change/nastol.com.ua-37252.jpg");
}
.img_test_wrp ul li.five {
  background-image: url("../img/for_change/wide-wallpaper-1366x768-090.jpg");
}
.side-menu {
  display: inline-block;
  position: fixed;
  z-index: 99;
  top: 50px;
  right: 0;
}
.side-menu li {
  display: block;
  cursor: pointer;
  color: #fefffd;
  text-shadow: 1px 1px 1px #646b74;
  position: relative;
  right: -74px;
}
.side-menu li a {
  color: #f9f2f4;
  font-weight: 700;
  padding: 2px 10px;
  text-decoration: none;
  display: inline-block;
}
.side-menu li a:first-letter {
  font-size: 22px;
  padding-right: 10px;
}
.side-menu li.active {
  background: #2f9fff;
}
.ice_wrp {
  width: 100%;
  height: 5000px;
  overflow: hidden;
  position: relative;
}
.ice_nut {
  width: 100%;
  height: 100%;
}
.ice_nut i {
  width: 61px;
  height: 55px;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  margin: -30px 25px 0;
  position: absolute;
  display: inline-block;
  background: url("../img/nut.png") no-repeat;
}
.ice_sq {
  width: 100%;
  height: 100%;
}
.ice_sq i {
  width: 157px;
  height: 127px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  margin: -66px 75px 0;
  position: absolute;
  display: inline-block;
  background: url("../img/sq2.png") no-repeat 0 0;
}
.drops_wrp {
  height: 3000px;
  position: relative;
}
.drops_1 {
  background: url("../img/drops1.png") repeat;
}
.drops_2 {
  background: url("../img/drops2.png") repeat;
}
.drops_3 {
  background: url("../img/drops3.png") repeat;
}
.drops_window {
  background: url("../img/NHTG_background_Window.jpg") no-repeat;
  background-size: 100%;
}
.drops_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.drops_bg_wrp {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;
}
.wind {
  width: 500px;
  background: url("../img/wind.png") 50% no-repeat;
  left: 50%;
  margin: 0 0 0 -250px;
}
#testMap,
#testMap2,
#testMap3,
#testMap4 {
  height: 300px;
}
.map_wrp {
  position: relative;
  z-index: 1;
}
.map_menu {
  display: inline-block;
  float: left;
  width: 300px;
  margin: 0;
  padding: 0;
}
.map_menu:first-child {
  border-top: 1px solid #79acff;
}
.map_menu li {
  display: inline-block;
  width: 100%;
  background: #c0e5f9;
  border-bottom: 1px solid #79acff;
}
.map_menu li .header {
  font-weight: 700;
}
.map_menu li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 5px 15px;
}
.map_menu li:hover {
  background: #f3e7f4;
}
.map_menu li.active {
  background: #e4e3e2;
}
